/**
 * @name Discord-
 * @author me.
 * @version 1.2-beta
 * @description Uh I forgot
*/


/* ------------ Fonts, imports ------------ */


@import url("https://scattagain.github.io/VencordStuff/css/GuildbarRevert.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --font-primary: "Inter", sans-serif;
  --font-display: "Inter", sans-serif;
  --font-code: Consolas, Menlo, Monaco, "Courier New", monospace;
}


/* ------------ Uh I forgot but I think it's server icon size ------------ */

:root {
    --guildbar-avatar-size: 48px;
    --blob-scale: 48;

    --guildbar-folder-size: var(--guildbar-avatar-size);
    --folder-blob-scale: var(--blob-scale);
}
.visual-refresh div[class^="sidebar_"] section[class^="panels_"] {
    width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) + 1px);
    left: var(--custom-guild-list-width);
    bottom: 0px;
    border-radius: 0px;
    border: none;
}

.visual-refresh nav[class*=guilds_] {
  margin-bottom: unset;
}


/* ------------ Remove junk ------------ */



[href="/store"],
[href="/shop"],
[aria-label="Text icon"],
[aria-label="Inbox"],
[aria-label="Open Quick Switcher"],
[aria-label="Submit a Bug Report"] {
	display: none !important;
}


/* No activity section */

._133bf5eea8e33a34-nowPlayingColumn {
	display: none !important;
}

.cc61794aab086a2e-peopleListItem {
	padding-top: 54px !important;
	padding-bottom: 54px !important;
}

/* Guild tags in profile REALLY annoy me */

._63ed30c16c7151f2-guildTagContainer {
	display: none !important;
}

/* ------------ My personal preferences ------------ */

/* Friends and Quests tab on default screen */

[href="/quest-home"],
[href="/channels/@me"] {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

/* Channels thick */

._2ea32c412048f708-linkTop {
	padding-top: 14px !important;
	padding-bottom: 14px !important;
}

/* ------------ Message Bubbles ------------ */

