/**
 * @name Message Bubbles (and font!)
 * @author That Panda
 * @version 1
 * @description Test.
*/


@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI Light"), url("https://discordstyles.github.io/Fluent/fonts/light.woff2") format("woff2");
  font-weight: 100;
}
@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI Semilight"), url("https://discordstyles.github.io/Fluent/fonts/semilight.woff2") format("woff2");
  font-weight: 200;
}
@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI"), url("https://discordstyles.github.io/Fluent/fonts/normal.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI Semibold"), url("https://discordstyles.github.io/Fluent/fonts/semibold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI Bold"), url("https://discordstyles.github.io/Fluent/fonts/bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Segoe Fluent Icons";
  src: local("Segoe Fluent Icons"), url("https://takosthings.github.io/Fluent-Discord-Fonts/Segoe-Fluent-Icons.ttf") format("truetype");
}
:root {
  --font-primary: "Segoe UI Variable Text", "Segoe UI", "Helvetica Neue", Helvetica, Verdana, Tahoma, Geneva, Arial, sans-serif;
  --font-display: "Segoe UI Variable Display", "Segoe UI", "Helvetica Neue", Helvetica, Verdana, Tahoma, Geneva, Arial, sans-serif;
  --font-code: Consolas, Menlo, Monaco, "Courier New", monospace;
}


[data-is-self="true"] .content__235ca {
  color: white !important;
}

[data-is-self="true"] .content__235ca a {
  color: white !important;
}

.scrollableContainer__74017 {
    background: var(--textbox-bg-high);
    border: 1px solid var(--textbox-border);
    padding: 0;
    border-radius: var(--rounded);
    font-size: var(--font-size-sm);
    box-sizing: border-box;
    border-bottom-color: #357bf7;
    transition: none;
}

[data-is-self="true"] .container_b7e1cb {
  background-color: #357bf7;
}

.codeContainer__75297 {
  min-width: 300px !important;
}

[data-is-self="true"] .container_b7e1c {
  display: none !important;
}



.embedIframe__623de {
  min-width: 800px !important;
  min-height: 450px !important;
}

.embedVideo__623de:not([aria-label="GIF"]) {
  min-width: 800px !important;
  min-height: 450px !important;
}

.embedMedia__623de:not([aria-label="GIF"]) {
  min-width: 800px !important;
  min-height: 450px !important;
}

.grid__623de {
  overflow: auto;
  min-width: 820px !important;
}

.embedFull__623de {
  min-width: 800px !important;
}

.embedVideoImageComponentInner__623de:not([aria-label="GIF"]) {
  min-width: 800px !important;
  min-height: 450px !important;
  aspect-ratio: 16/9 !important;
}

:root {
  --darkplus-bg: #fefefe;
  --darkplus-bg2: #f1f1f1;
  --darkplus-sec: #bb86fc;
  --darkplus-links: #cdaef3;
  --darkplus-home-icon: url(https://i.imgur.com/RvlNQ7k.png);
  --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 50%;
  --watermark-filter-saturate: 3000%;
  --watermark-filter-hue-rotate: 210deg;
  --watermark-filter-brightness: 70%;
  --watermark-filter-contrast: 200%;
}



.contents_c19a55 .messageContent_c19a55, .container_b7e1cb {
  background-color: var(--background-secondary);
  display: inline-block;
  max-width: 750px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  padding: 8px;
  border-radius: 15px;
}

/*
.theme-dark .contents_c19a55 .messageContent_c19a55, .container_b7e1cb {
  background-color: #303030;
  display: inline-block;
  max-width: 950px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  padding: 8px;
  border-radius: 15px;
}
*/

.messageContent_c19a55:empty {
  display: none !important;
}



[data-is-self="true"] .contents_c19a55 .messageContent_c19a55 {
  background-color: #357bf7;
  color: #fff;
  display: block;
}


